[submodule "mobile-app"]
	path = mobile-app
	url = ../quantum-bank-submodule-sources/mobile-app
[submodule "backend"]
	path = backend
	url = ../quantum-bank-submodule-sources/backend
[submodule "api-gateway"]
	path = api-gateway
	url = ../quantum-bank-submodule-sources/api-gateway
[submodule "infrastructure"]
	path = infrastructure
	url = ../quantum-bank-submodule-sources/infrastructure
