[submodule "mobile-app"]
	path = mobile-app
	url = git@github.com:joaobsjunior/quantum-bank-mobile-app.git
[submodule "backend"]
	path = backend
	url = git@github.com:joaobsjunior/quantum-bank-backend.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:joaobsjunior/quantum-bank-api-gateway.git
[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:joaobsjunior/quantum-bank-infrastructure.git
[submodule "pki"]
	path = pki
	url = git@github.com:joaobsjunior/quantum-bank-pki.git
